<div class="main-container">
  <section class="timeline-outer">
      <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <ul class="timeline mdl-cell--12-col" ng-repeat="line in example.mock.data.entries">
        <li class="event timeline-content" data-date="{{line.dateTime | date}}">
          <button ng-click="example.click(line)"
                  class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
          </button>
          <h3>{{line.title}}</h3>
          <span class="mdl-cell mdl-cell--4-col">{{line.description}}</span>
          <h4 class="mdl-cell mdl-cell--8-col">{{line.totalAmount | currency}}</h4>
        </li>
        </ul>
      </div>
  </section>
</div>
